.adminProfile{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

/* body {
    background: linear-gradient(to bottom, #a8c0ff, #3f2b96);
} */

.tableHead{
    background-color: black;
    color: white;
}
.adminProfile button{
    width: 100%;
    max-width: 300px;
}
.adminCenter{
    background-color: rgba(0, 0, 0, 0.926);
    border-radius: 30px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.461);
    display: flex;
    font-weight: 700px;
    font-family: 'Michroma', sans-serif;
    font-size: 20px !important;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.g-5.adminCenter button {
    padding: 20px 30px !important;
}
.g-5.adminCenter a {
    padding: 20px 30px !important;
}


.adminCenter div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-wrap: nowrap;
    font-size: 20px;
    height: 100px;
}
@media (max-width: 600px) {
    .adminCenter div {
        width: 100%;
    }
}
.adminRight{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.adminRight button{
    max-width: 300px;
    padding: 20px 0px;
    text-wrap: nowrap;
    font-size: 20px;
    width: 100%;
}