.header{
    position: sticky;
    background-color: #ededed;
    height: 160px;
    padding-bottom: 70px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.691);
    border-bottom: 1px solid rgb(100, 100, 100);
    z-index: 10;
}
.RARE,.RAREADMIN :hover{
        color: red !important;
        transition: 0.25s;
}

.header i:hover{
    color: white;
    transition: 0.25s;
}
h3 {
    overflow-wrap: break-word;
}
h5 {
    overflow-wrap: break-word;
}

 .header2{
    position: sticky;
}

.topHeader .bi{
    font-size: 30px;
} 
.center{
    word-spacing: 20px;
    font-family: 'Michroma', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
}

.bottomHeader{
    display: flex;
    font-size: 17px;
    text-wrap: nowrap;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 15px;
    flex-direction: row;
    font-family: 'Michroma', sans-serif;
    align-items: center;
    justify-content: center;

}
.capitalizeFirst{
    text-transform: uppercase;
}
.bottomHeader a{
    text-decoration: none;
}
@media(max-width:991px){
    
    .header{
        height: 180px;
    }
    .header2{
        height: 200px;
    }
    .coverdiv{
        height: 30px;
    }
   
  }
@media(max-width:403px){
    
    .header,.header2{
        height: 300px !important;
    }
    .coverdiv{
        height: 20px;
    }
    
  }

.RAREADMIN{
    padding-right: -8px !important;
}
 .dropdown-menu li a:hover{
    color: red;
    font-weight: bolder;
  }
 .dropdown-menu li a{
    color: white;
    transition: 0.25s;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }


  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa00; /* Add your desired background color */
    padding: 10px;
}

.topHeader a {
    text-decoration: none;
    color: #000; /* Add your desired text color */
    margin-right: 10px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
}

.center {
    flex-grow: 1;
    text-align: center;
}

.RARE{
    padding-left: 100px;
}


.right {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 60px;
}

@media (max-width: 928px) {
    /* Adjust styles for smaller screens */
    .topHeader {
        flex-direction: column;
        text-align: center;
    }
    .RARE {
        padding-left: 30px;
    }
    .header,.header2{
        height: 260px;
    }
    .left, .right {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
 
    .Manga{
        margin-left: 50px;
    }
    .Thenga{
        padding-right: 40px;
    }
}


/* Spinner */

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 9999999999999999;
}

.loader {
    margin-left: 18px;
  padding: 20px;
  width: 48px;
  height: 48px;
  border: 3px dotted #000000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

.productCounter{
    position: relative;
}
.productCounter span{
    border-radius: 50%;
    padding: 0px 7px;
    background-color: rgb(255, 67, 67);
    color: rgb(0, 0, 0);
    position: absolute;
    top: -3px;
    right: -3px;
}
  .openButton {
 padding: 17px 40px;
 border-radius: 50px;
 border: 0;
 /* background-color: white; */
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}

.openButton:hover {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.openButton:active {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}


        .chatButton {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        }

.chatButton:active,
.chatButton:hover {
 outline: 0;
}

.chatButton span {
 background-color: rgb(5, 6, 45);
 padding: 16px 24px;
 border-radius: 6px;
 width: 100%;
 height: 100%;
 transition: 300ms;
}

.chatButton:hover span {
 background: none;
}

.chatButton:active {
 transform: scale(0.9);
}