.filterDropdown{
    font-family: 'Michroma', sans-serif; font-size: large;
}
.filterDropdownUl{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.609);
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #050505e4;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.filterDropDownButton{
    display: block; align-items: center; font-size: large; 
}

* a{
    text-decoration: none !important;
}
.cardText{
    position: absolute; top: 10px; right: 10px; font-size: 15px; background-color:#CC0C39!important; border-radius: 10px; font-weight: bold; padding:8px ;
}

.discountDiv{
    flex-direction: column; align-items: center; font-family: 'Michroma', sans-serif;
}

.dark-pagination .page-link {
    background-color: #000000;
    color: #fff;
}
.dark-pagination .page-item.active .page-link {
    background-color: #ffffff;
    border-color: #000000;
    color: rgb(0, 0, 0) !important;
}