.productCont{
    margin-top: 20px !important;
}
.discountText{
    position: absolute; top: 10px; right: 10px; font-size: 15px; background-color:#CC0C39!important; border-radius: 10px; font-weight: bold; padding:8px ;
}

* a{
    text-decoration: none !important;
}


.filterDropdown{
    font-family: 'Michroma', sans-serif; font-size: large;
}
.filterDropdownUl{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.609);
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #050505e4;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
