  @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Raleway&display=swap');


ul {
 display: block;
list-style-type: none; 
padding: 0;
margin: 0; 
}

.messageLeft, .messageRight {
  max-width: 70%;
  width: fit-content;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 20px;
  overflow-wrap: break-word;
  word-break: break-all; 
}

.messageLeft {
  background-color: #000000;
  color: white;
  border-bottom-left-radius: 0 !important;
}

.messageRight {
  background-color: #cccccc;
  border-bottom-right-radius: 0 !important;
}


.message{
    padding: 10px;
}

.mainCont{
    border: 5px solid #c0c0c0;
    position: relative;
    box-shadow: 0px 0px 20px #4a4a4ab5;
    border-radius: 20px;
    overflow: hidden;
    height: 90vh;
    width: 100% !important;
    transition: .3s;
}
.mainCont:hover{
  box-shadow: 0px 0px 40px #414040b5;
  border-color: rgb(194, 194, 194);
}
.profileButton{
  position: absolute;
  top: 10px;
  right: 10px;
  align-self: flex-start;
  font-size: 20px;
  font-family: 'Michroma', sans-serif;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  margin-bottom: 10px;  
  border: 1px solid rgb(160, 159, 159);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27);
  text-decoration: none !important;
}
.mainFlex {
  min-height: 600px;
  max-height: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.messageCont{
    margin-top: 60px;
    /* background-image: url('../images/administrator-working-on-computer.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  #messageForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
  }
  .dataAndTime{
    display: block;
    text-wrap: nowrap;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
  }

  .inputbox {
    position: relative;
    flex: 1;
    width: 100%;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    min-width: 100px !important;
    max-width: 300px !important; 
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #000000;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
    color: white;
  }

  #messageInput{
    color: white !important;
    max-width: 150px !important;
  }

  .messageCont::-webkit-scrollbar{
    width: 5px;
  }
  .messageCont::-webkit-scrollbar-track{
    background: #ffffff;
  }
  .messageCont::-webkit-scrollbar-thumb{
    background: radial-gradient(circle, rgb(141, 141, 141) 0%, rgb(96, 96, 97) 100%);
    border-radius: 10px;
  }