.footer{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../public/images/13.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: scroll;
    border-top: 2px solid black;
}
.footer2{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    bottom: 0;
    justify-content: space-evenly;
    right: 0;
    
}

.footerTxt{
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
}
.footerTxt h3{
    font-family: 'Michroma', sans-serif;
}