.header{
    position: sticky;
    background: linear-gradient(#212324,#2d2f31) ;
    border-top: 0.7px solid black;
    /* border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ; */
    height: 160px;
    padding-bottom: 70px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.691);
    border-bottom: 0.7px solid black;
    z-index: 10;
}
.RARE :hover{
        color: rgb(215, 25, 25);
        transition: 0.25s;
}

.header i:hover{
    color: white;
    transition: 0.5s;
}
h3 {
    overflow-wrap: break-word;
}
h5 {
    overflow-wrap: break-word;
}

 .header2{
    position: sticky;
}

.topHeader .bi{
    font-size: 30px;
} 
.center{
    word-spacing: 20px;
    font-family: 'Michroma', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
}

.bottomHeader{
    display: flex;
    font-size: 17px;
    text-wrap: nowrap;
    column-gap: 30px;
    row-gap: 15px;
    flex-direction: row;
    font-family: 'Michroma', sans-serif;
    align-items: center;
    justify-content: center;

}
.capitalizeFirst{
    text-transform: uppercase;
}
.bottomHeader a{
    text-decoration: none;
}
@media(max-width:991px){
    .bottomHeader{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        height: 300px;
        padding-bottom: 300px;
    }
    .header2{
        height: 300px;
    }
    .coverdiv{
        height: 30px;
    }
    .bottomCover{
        height: 100px;
    }
  }
@media(max-width:443px){
    .bottomHeader{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header,.header2{
        height: 420px !important;
    }
    .coverdiv{
        height: 20px;
    }
    .bottomCover{
        height: 130px;
    }
  }
@media(max-width:1096px){
    .header,.header2{
        height: 200px;
    }
  }

.RAREADMIN{
    padding-right: 40px;
}
 .dropdown-menu li a:hover{
    color: red;
    font-weight: bolder;
  }
 .dropdown-menu li a{
    color: white;
    transition: 0.25s;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }


  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa00; /* Add your desired background color */
    padding: 10px;
}

.topHeader a {
    text-decoration: none;
    color: #000; /* Add your desired text color */
    margin-right: 10px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
}

.center {
    flex-grow: 1;
    text-align: center;
}

.RARE{
    transition: 0.3s;
    padding-left: 200px;
}
.RARE a{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.866)
}


.right {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 60px;
}

@media (max-width: 928px) {
    /* Adjust styles for smaller screens */
    .topHeader {
        flex-direction: column;
        text-align: center;
    }
    .RARE {
        padding-left: 30px;
    }
    .header,.header2{
        height: 370px;
    }
    .left, .right {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .RAREADMIN{
        padding-right: 20px;
    }
    .Manga{
        margin-left: 50px;
    }
    .Thenga{
        padding-right: 40px;
    }
}


/* Spinner */

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 9999999999999999;
}

.loader {
    margin-left: 18px;
  padding: 20px;
  width: 48px;
  height: 48px;
  border: 3px dotted #000000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

.productCounter{
    position: relative;
}
.productCounter span{
    border-radius: 50%;
    padding: 0px 7px;
    background-color: rgb(255, 67, 67);
    color: rgb(0, 0, 0);
    position: absolute;
    top: -3px;
    right: -3px;
}
  .openButton {
 padding: 17px 40px;
 border-radius: 50px;
 border: 0;
 /* background-color: white; */
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
}

.openButton:hover {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.openButton:active {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}

.profileIcon{
    border-radius: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(218, 218, 218, 0.406);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    padding: 0px 10.2px 2px 10.4px;
    color: rgb(0, 0, 0);
}

.chatButton {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 50%;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        width: 60px;
        height: 60px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        }

@media(max-width:500px){
  .chatButton{
    height: 50px;
    width: 50px;
    font-size: 10px !important;
  }
}

#biChat{
  transition: .25s;
}

.chatButton:active,
.chatButton:hover {
 outline: 0;
 #biChat{
  font-size: 35px !important;
  transform: rotate(5deg);
 }
}

.chatButton span {
 background-color: rgb(5, 6, 45);
 /* padding: 16px 24px; */
 /* padding: 30px 0px; */
 border-radius: 50%;
 width: 100%;
 height: 100%;
 transition: 300ms;
}

.chatButton:hover span {
 background: none;
}

.chatButton:active {
 transform: scale(0.9);
}
    .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.textS {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em !important;
  font-weight: 600 !important;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .textS {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.swal2-popup{
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.633);
  background-color: rgba(0, 0, 0, 0.62) !important;
  border: 1px solid rgba(49, 49, 49, 0.715);
  color: white !important;
}