body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.expected-delivery {
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}
.containerMa {
    max-width: 1200px;
    margin: 10px auto;
    background-image: url('../images/people-collaborating-with-tech-.jpg');
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            height: fit-content; 
    /* padding: 20px; */
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.447);
}

.cont{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(241, 227, 227, 0.532);
}
h3 {
    color: #000000;
    text-align: center;
}


.confirmation-message {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

.order-details {
    margin-top: 30px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.product-info {
    flex-grow: 1;
}

.product-image {
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;
    border-radius: 5px;
}

.order-total {
    text-align: right;
    margin-top: 20px;
}

.thank-you-message {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
    color: #000000;
}

.success-logo {
    max-width: 150px;
    margin-top: 20px;
}

.footerA {
    margin-top: 30px;
    text-align: center;
}
