
  .dataTables_filter label input[type="search"]{
    caret-color: rgb(186, 186, 186) !important;
    color: white !important;
    border: 1px solid grey !important;
    border-radius: 20px !important;
    padding: 5px 16px !important;
  }
  
  .dataTables_info,
  .dataTables_filter{
    font-family: 'Michroma', sans-serif !important;
    color: white !important;
  }
  .paginate_button.previous,
  .paginate_button.next,
  .paginate_button.current,
  .paginate_button{
    font-family: 'Michroma', sans-serif !important;
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: 1px solid grey !important;
  }

  @media(max-width:767px){
    #hideTableRow,
    #imageTableRow{
      display: none !important;
    }
  }
  .dataTables_length{
    display: none !important;
  }