/* font-family: 'Michroma', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif; */
.welcome{
    font-family: "Plus Jakarta Sans";
}

body{
/* background-color: #ecd7ff; */

--s: 100px; /* control the size */
--c1: #f8b195;
--c2: #355c7d;

--_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
  var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
  var(--c1) 76% 84%, var(--c2) 86% 94%;
background: radial-gradient(
    100% 100% at 100% 0,
    var(--c1) 4%,
    var(--_g),
    #0008 96%,
    #0000
  ),
  radial-gradient(
      100% 100% at 0 100%,
      #0000,
      #0008 4%,
      var(--_g),
      var(--c1) 96%
    )
    var(--c1);
background-size: var(--s) var(--s);

}

  
.mainContainer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.sideForm{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.mainForm{
    display: flex;
    background-color: rgba(246, 246, 246, 0.791);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(53, 53, 53);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    padding: 20px;
    min-width: 500px;
}

.mainForm input{
    border: 1px solid black;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    width: 400px;
}
.mainForm button{
    width: 100px;
}

.mainCont{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.792);
    background-color: rgba(255, 255, 255, 0.676);
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(72, 72, 72);
    padding: 20px;
    border-radius: 20px;
}
.mainCont button{
    width: 200px;
}
.save{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alertKey{
    text-wrap: nowrap;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.backButton{
    position: absolute;
    top: 10px;
    right: 20px;
}