<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/userRegister.css">

</head>
<body>
<div class="containerfluid d-flex mainContainer"> 
<div class="mainCont">
    <form class="row g-3 needs-validation" action="/user/register" method="post" novalidate enctype="application/form-data">
        <h3 class="mb-4 text-center mt-5" style="font-family: 'Michroma', sans-serif;">Welcome !</h3>
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Name</label>
          <div class="input-group  has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-signature"></i></span>
            <input type="text" class="form-control" id="validationCustom01" name="name" required  placeholder="Enter your name.">
      
          </div>
        </div>
        <input type="hidden" name="ref" value="<%= ref||'' %>">
        <div class="col-md-12">
          <label for="validationCustom02" class="form-label">Contact</label>
          <div class="input-group  has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-telephone"></i></span>
            <input type="number" class="form-control" id="validationCustom02" name="contact"  required  placeholder="Enter your contact.">
              
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-envelope-open"></i></span>
            <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="email"  required  placeholder="Enter your email.">
           
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationPassword" class="form-label">Password</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-fingerprint"></i></span>
            <input type="password" class="form-control borderInput" id="validationPassword" aria-describedby="inputGroupPrepend" name="password"  required    placeholder="Enter your password.">
            <span class="input-group-text" onclick="togglePassword('validationPassword','passKey')" id="passKey" style="font-size: 20px; border-top-right-radius: 6px; border-bottom-right-radius: 6px;"><i class="bi bi-eye-slash-fill"></i>
            </span>
            
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationPasswordConfirm" class="form-label">Confirm Password</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-fingerprint"></i></span>
            <input type="password" class="form-control borderInput" id="validationPasswordConfirm" aria-describedby="inputGroupPrepend" name="validationPasswordConfirm"  required    placeholder="Please enter the password again.">
            <span class="input-group-text" onclick="togglePassword('validationPasswordConfirm','passKeyConfirm')" id="passKeyConfirm" style="font-size: 20px; border-top-right-radius: 6px; border-bottom-right-radius: 6px;"><i class="bi bi-eye-slash-fill"></i>
            </span>
            
          </div>
        </div>
        <div class="save">
            <div class="d-inline">
            <button class="btn btn-dark rounded-pill mt-2" id="startCountdownButton" type="submit">Get Otp</button>
            </div>
        </div>
        <div class="text-center mt-5" style="font-size: 15px;">Do you have an account ?<a href="/user/login/" style="color: rgb(255, 0, 191); font-weight: 700;"> Sign-In</a></div>
      </form>
</div>
</div>
<%- include('../layout/alert')-%>
</div>
<script src="../../public/jsFiles/userForm.js"></script>
<script type="module" src="../../public/jsFiles/setOtpRegister.js"></script>
<%- include('../layout/footerHTML')-%>