<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
</head>
<body>
  <div class="loading-screen">
    <span class="loader"></span>
</div>
<div class="header ">
    <div class="header2">
        <div class="topHeader">
            <a href="/admin/logout" class="Thenga" title="Logout"><div class="left" ><i class="bi text-danger bi-box-arrow-left ms-5 me-2"></i></div></a>
            <div class="center text-center RAREADMIN" style="text-shadow: 1px 1px rgba(255, 255, 255, 0.274);">
              <a href="/user/home/">RARE KICK'S</a>
          </div>
            <div class="right">
                <a href="" class="Manga" onclick="handleButtonClick()" id="button"><i class="bi bi-arrow-clockwise me-5 text-dark"></i></a>
            </div>
        </div>
        <div class="bottomHeader container mb-3 ">
          
          <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            ADMIN <i class="bi bi-list"></i>
          </button>
              
              <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="overflow: visible;">
                <div class="offcanvas-header">
                  <i class="bi bi-person-circle" style="font-size: 60px;"></i>
                  <h5 class="offcanvas-title" id="staticBackdropLabel">Hello Admin!</h5>
                  <button type="button" class="btn-close" id="closeButton" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: 30px; margin: 10px;"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="d-flex" style="flex-direction: column; justify-content: center; row-gap: 10px;">
                  <div>
                    <a type="button" href="/admin/home" class="btn btn-dark d-flex justify-content-center" style=" text-decoration: none;">PRODUCT MANAGEMENT</a>
                  </div>
                  <div>
                    <a type="button" href="/admin/viewUsers" class="btn btn-dark d-flex justify-content-center" style=" text-decoration: none;">USER MANAGEMENT</a>
                  </div>
                  <div>
                    <a type="button" href="/admin/allOrders" class="btn btn-dark d-flex justify-content-center" style=" text-decoration: none;">ORDER MANAGEMENT</a>
                  </div>
                  <div>
                    <a type="button" href="/admin/bannerManagement" class="btn btn-dark d-flex justify-content-center" style=" text-decoration: none;">BANNER MANAGEMENT</a>
                  </div>
                  <div>
                    <a type="button" href="/admin/couponManagement" class="btn btn-dark d-flex justify-content-center" style=" text-decoration: none;">COUPON MANAGEMENT</a>
                  </div>
                    <div class="btn-group dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    BRANDS
                </button>
                <ul class="dropdown-menu bg-dark text-center p-4">
                  <li class=" pb-4 ps-3 pe-3"><a class="" href="/admin/brandBased/">All Brands</a></li>
                  <li class="pb-4 ps-3 pe-3"><a class=" " href="/admin/brand?brand=adidas">ADIDAS</a></li>
                  <li class="pb-4 ps-3 pe-3"><a class=" " href="/admin/brand?brand=reebok">REEBOK</a></li>
                  <li class="pb-4 ps-3 pe-3"><a class=" " href="/admin/brand?brand=jordan">JORDAN</a></li>
                  <li class="pb-4 ps-3 pe-3"><a class=" " href="/admin/brand?brand=asics">ASICS</a></li>
                  <li class="pb-4 ps-3 pe-3"><a class=" " href="/admin/brand?brand=crocs">CROCS</a></li>
                  <li class="ps-3 pe-3"><a class=" " href="/admin/brand?brand=converse">CONVERSE</a></li>
                </ul>
              </div>
                  </div>
                </div>
              </div>

          <a class="" href="/admin/home/"><h3 class="text-danger"><u>Home</u></h3></a>
            
               </div>
    </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".loading-screen").style.display = "none";
    });
</script>

<div class="container bottomCover"></div>



<%- include('./footerHTML')-%>