<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/adminHeader.css">
</head>
<body>
  <div class="loading-screen">
    <span class="loader"></span>
</div>
<div class="header ">
    <div class="header2">
        <div class="topHeader">
            <a href="/admin/logout" class="Thenga" title="Logout"><div class="left" ><i class="bi text-danger bi-box-arrow-left ms-5 me-2"></i></div></a>
            <div class="center text-center RAREADMIN" style="text-shadow: 1px 1px rgba(255, 255, 255, 0.274);">
              <a href="/user/home/"><span class="RAREADMIN">RARE KICK'S</span></a>
          </div>
            <div class="right">
                <a href="" class="Manga" onclick="handleButtonClick()" id="button"><i class="bi bi-arrow-clockwise me-5 text-danger"></i></a>
            </div>
        </div>
        <div class="bottomHeader container mb-3 ">
          
          <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            ADMIN <i class="bi bi-list"></i>
          </button>
              
              <div class="offcanvas offcanvas-start bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="overflow: visible;">
                <div class="offcanvas-header">
                  <h3 class="offcanvas-title text-center text-light ms-2" id="staticBackdropLabel">Hello Admin!</h5>
                  <button type="button" class="btn-close" id="closeButton" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: 30px; margin: 10px;"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="d-flex" style="flex-direction: column; justify-content: center; row-gap: 10px;">
                    <div>
                      <a type="button" href="/admin/dashBoard" class=" openButton
                      openButton
                      openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-chart-line me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">&nbsp;Dashboard</span>
                      </a>
                    </div>
                    <div>
                      <a type="button" href="/admin/viewUsers" class=" openButton
                      openButton
                      openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-users me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">User's</span>
                      </a>
                    </div>
                    <div>
                      <a type="button" href="/admin/productList" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-bars-staggered me-2 ms-2 " style="font-size: 30px;"></i>
                          <span class="w-100 ms-3 text-start">&nbsp;Product list</span>
                      </a>
                  </div>
                    
                <div>
                    <a type="button" href="/admin/allOrders" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-truck-fast me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">Order's</span>
                    </a>
                </div>
                
                <div>
                    <a type="button" href="/admin/bannerManagement" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-panorama me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">Banner</span>
                    </a>
                </div>
                
                <div>
                    <a type="button" href="/admin/couponManagement" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-ticket me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">Coupon</span>
                    </a>
                </div>
                
                <div>
                    <a type="button" href="/admin/createCategory" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <i class="fa-solid fa-list me-2 ms-2" style="font-size: 30px;"></i>
                        <span class="w-100 ms-3 text-start">Category</span>
                    </a>
                </div>
                <div>
                    <a type="button" href="/admin/brandBased/" class="openButton btn py-2 btn-dark d-flex align-items-center" style="text-decoration: none;">
                        <span class="w-100 ms-3 text-center">All Brands</span>
                    </a>
                </div>
                <div class="mt-2" style="display:flex; justify-content: center;">
                  <a  class="chatButton" href="/chatBot/chatAdmin" style="font-family: 'Michroma', sans-serif;">
                    <span class="text text-center">Chats</span>
                  </a>
              </div>
                  </div>
                </div>
              </div>
          <a class="" href="/admin/dashBoard/"><h3 class="text-danger"><u>Home</u></h3></a>
               </div>
    </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".loading-screen").style.display = "none";
    });
</script>
<div class="container bottomCover"></div>
<%- include('./footerHTML')-%>