<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
</head>
<body>

<div class="header ">
    <div class="header2">
        <div class="topHeader">
            <div class="left"><i class="bi bi-box-arrow-left ms-5"></i></div>
            <div class="center">
                RARE KICKS
            </div>
            <div class="right">
                <i class="bi bi-arrow-clockwise me-5"></i>
            </div>
        </div>
        
    </div>
</div>






<%- include('./footerHTML')-%>