<div class="container Cont mt-5">
    <div class="responsive-container">
        <div class="card info-box  ">
          <h2>Free Delivery</h2>
          <p>Enjoy the ultimate convenience with our FREE delivery service!</p>
        </div>
        <div class="card info-box" style="margin-top: 5px; margin-bottom: 5px;">
          <h2>24/7 Support</h2>
          <p>Our dedicated team is here for you 24/7, ready to assist with any questions or concerns.</p>
        </div>
        <div class="card info-box">
          <h2>Return Policy</h2>
          <p>Your satisfaction is our top priority!policy is designed for you.</p>
        </div>
    </div>
</div>
