<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
</head>
<body>
    <div class="footer fixed-bottom mt-4">
        <div class="footerBlur">
            <div class="footer2">
                <div class="footerTxt">
                    <h3>Our Story</h3>
                    <p>
                        Rare Kicks was born out of a shared love for sneakers and a desire to offer something special to fellow sneakerheads. We understand that your footwear isn't just an accessory; it's an expression of your personality and a statement of your style. That's why we've made it our mission to hunt down the rarest shoes.
                    </p>
                </div>
                <div class="footerTxt">
                    <h3>INFO</h3>
                    <ul>
                        <li>Contact Us</li>
                        <li>Releases</li>
                        <li>Stores</li>
                        <li>Brands</li>
                        <li>Blogs</li>
                    </ul>
                </div>
                <div class="footerTxt">
                    <h3>About Us!</h3>
                    <p>
                        Welcome to Rare Kicks – Where Style Meets Uniqueness! At Rare Kicks, we're more than just a shoe brand; we're a lifestyle. Founded with a passion for sneakers and a commitment to individuality, we bring you a curated collection of the most exclusive and unique kicks in the sneaker world.
                    </p>
                </div>
            </div>
        </div>
    </div>
    


<%- include('./footerHTML')-%>