<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
</head>
<body>
    <div class="loading-screen">
        <span class="loader"></span>
    </div>
<div class="header">
    <div class="header2">
        <div class="topHeader">
            <div><a class="left text-danger" href="/user/logout/" title="logout" style="display:flex; justify-content: center;"><i class="bi bi-box-arrow-left"></i></a></div>
            <div class="center text-center RARE" style=" text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.573);">
                <a href="/user/home/" class="RAREHEAD">RARE KICK'S</a>
            </div>
            <div class="right">
                <div class="productCounter">
                <a href="/user/wishlist/" class=""><i class="bi bi-heart-fill"></i></i</a>
                <span class="wishlistCount" id="wishCount"></span></div>
                <div class="productCounter">
                <a href="/user/cart/" class=""><i class="bi bi-bag-fill"></i></i></i</a>
                <span class="cartCount" id="cartCount"></span></div>
                <span class="profileMan">
                <a class="text-dark " data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="bi bi-person-circle " style="color: black; text-shadow: 1px 1px rgba(255, 255, 255, 0.321); font-size: 50px; cursor: pointer;"></i></i</a></span>
               
            </div>
        </div>
        <div class="bottomHeader container mb-3">
            <a class="" href="/user/home/"><h3 class="text-danger"><u>Home</u></h3></a>
            
            <div class="d-flex" style="column-gap: 10px;">
            <div class="btn-group dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    PRODUCTS
                </button>
                <ul class="dropdown-menu bg-dark text-center p-4 ">
                  <li class="text-center hover  pb-4 ps-3 pe-3"><a class="" href="/user/allProducts/">ALL PRODUCTS</a></li>
                  <li class="text-center hover  pb-4 ps-3 pe-3"><a class="" href="/user/brandBased/">All Brands</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=adidas">ADIDAS</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=reebok">REEBOK</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=jordan">JORDAN</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=asics">ASICS</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=crocs">CROCS</a></li>
                  <li class="text-center hover ps-3 pe-3"><a class=" " href="/user/brand?brand=converse">CONVERSE</a></li>
                </ul>
              </div>






              

              <div class="offcanvas offcanvas-start bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="overflow: visible;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title text-center text-light" id="staticBackdropLabel">Hello <span class="userName capitalizeFirst"></span> !</h5>
                  <button type="button" class="btn-close" id="closeButton" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: 30px; margin: 10px;"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="d-flex" style="flex-direction: column; justify-content: center; row-gap: 10px;">
                  <div>
                    <a type="button" href="/user/profile" class="openButton py-3 btn btn-dark d-flex justify-content-center" style=" text-decoration: none; align-items: center;"><i class="fa-regular fa-user me-3" style="font-size: 30px;"></i>PROFILE</a>
                  </div>
                  <div>
                    <a type="button" href="/user/orders" class="openButton py-3 btn btn-dark d-flex justify-content-center" style=" text-decoration: none; align-items: center;"><i class="fa-solid fa-truck-fast me-3" style="font-size: 30px;"></i>ORDERS</a>
                  </div>
                <div class="btn-group dropdown">
                <button type="button" class="openButton py-3 btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    BRANDS
                </button>
                <ul class="dropdown-menu bg-dark text-center p-4 " style="box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.913);">
                    <li class="text-center hover   pb-4 ps-3 pe-3"><a class="" style="text-decoration: none;" href="/user/brandBased/">All Brands</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=adidas">ADIDAS</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=reebok">REEBOK</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=jordan">JORDAN</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=asics">ASICS</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=crocs">CROCS</a></li>
                    <li class="text-center hover  ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=converse">CONVERSE</a></li>
                </ul>
              </div>
                  </div>
                </div>
              </div>

</div>




                  <form action="/user/searchProduct/" method="get" class="needs-validation" enctype="application/form-data">
                     <div class="d-flex align-items-center">
                        <% if (locals?.search) { %>
                            <% var value = search?search:''; %>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Search Product" style="min-width: 100px;" id="searchInput">
                                <button type="reset" class="btn border-dark-subtle" id="clearSearch" onclick="clearA()" style="background: white;">
                                    <i class="bi bi-x-lg"></i></button></div>
                                    <% } else { %>
                            <div class="input-group">
                            <input type="text" class="form-control border-dark" name="search" placeholder="Search Product" style="min-width: 100px;" id="searchInput">
                            <button type="reset" class="btn border-dark-subtle" id="clearSearch" onclick="clearA()" style="background: white;">
                                <i class="bi bi-x-lg"></i></button></div>
                        <% } %>
                        <button class="btn btn-dark text-center rounded" type="submit" style="width: 50px; margin-left: 10px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
               </div>
            </div>
         </nav>
         
        </div>
    </div>
</div>


<script>
    // Simulate content loading
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".loading-screen").style.display = "none";
    });
    document.addEventListener("DOMContentLoaded", function() {
        const wishCount = document.querySelector(".wishlistCount");
        const cartCount = document.querySelector(".cartCount");
        const userName = document.querySelector(".userName");

    // Wrap the fetch operation in a function
            const fetchData = async () => {
                try {
                    const response = await fetch('/user/getCount');

                    if (!response.ok) {
                        throw new Error(`Network response was not ok: ${response.status}`);
                    }

                    const data = await response.json();

                    // Update the UI with the fetched data
                    wishCount.textContent = data.wishCount;
                    cartCount.textContent = data.cartCount;
                    userName.textContent = data.userName;
                } catch (error) {
                    console.error('Error during fetch operation:', error);
                }
            };

            // Call the function
            fetchData();
    
    });
   
   




       document.addEventListener("DOMContentLoaded", function () {
           const clearSearch = document.getElementById("searchInput");
           
           // Pre-fill search input if 'search' exists
            clearSearch.value = '<%=value%>';
    });

    function clearA() {
        const form = document.querySelector(".needs-validation");
        form.reset();
        clearSearch.value = '';
    }
</script>

<script src="../../public/jsFiles/searchVal.js"></script>

<%- include('./footerHTML')-%>