<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">

</head>
<body>
    <div class="loading-screen">
        <span class="loader"></span>
    </div>
<div class="header">
    <div class="header2">
        <div class="topHeader">
            <div><a class="left text-danger logOutButton"  title="logout" style="display:flex; justify-content: center;"><i class="bi bi-box-arrow-left"></i></a></div>
            <div class="center text-center RARE">
                <a href="/user/home/" class="RAREHEAD">RARE KICK'S</a>
            </div>
            <div class="right">
                <div class="productCounter">
                <a href="/user/wishlist" class=""><i class="bi bi-heart-fill"></i></i</a>
                <span class="wishlistCount" id="wishCount">0</span></div>
                <div class="productCounter">
                <a href="/user/cart" class=""><i class="bi bi-bag-fill"></i></i></i</a>
                <span class="cartCount" id="cartCount">0</span></div>
                <span class="profileMan">
                <a class="text-dark " data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="profileIcon bi bi-person-circle " style="cursor: pointer;"></i></i</a></span>
            </div>
        </div>
        <div class="bottomHeader container mb-3">
            <a class="btn btn-dark text-danger " href="/user/home">Home Page</a>
            <div class="d-flex" style="column-gap: 6px;">
            <div class="btn-group dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Product's
                </button>
                <ul class="dropdown-menu bg-dark text-center p-4 ">
                  <li class="text-center hover  pb-4 ps-3 pe-3"><a class="" href="/user/allProducts">ALL PRODUCTS</a></li>
                  <li class="text-center hover  pb-4 ps-3 pe-3"><a class="" href="/user/brandBased">All Brands</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=adidas">ADIDAS</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=reebok">REEBOK</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=nike">NIKE</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=jordan">JORDAN</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=asics">ASICS</a></li>
                  <li class="text-center hover pb-4 ps-3 pe-3"><a class=" " href="/user/brand?brand=crocs">CROCS</a></li>
                  <li class="text-center hover ps-3 pe-3"><a class=" " href="/user/brand?brand=converse">CONVERSE</a></li>
                </ul>
              </div>
              <div class="offcanvas offcanvas-start bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" data-bs-scroll="false" >
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title text-center text-light capitalizeFirst" id="staticBackdropLabel" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;"><i class="fa-regular fa-circle-user me-2 fs-4 my-auto"></i>
                  <span class="userName"></span></h5>
                  <button type="button" class="btn-close" id="closeButton" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: 30px; margin: 10px;"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="d-flex" style="flex-direction: column; justify-content: center; row-gap: 10px;">
                   
                  <div>
                    <a type="button" href="/user/profile" class="openButton py-3 btn btn-dark d-flex justify-content-center" style=" text-decoration: none; align-items: center;"><i class="fa-regular fa-user me-3" style="font-size: 30px;"></i>PROFILE</a>
                  </div>
                  <div>
                    <a type="button" href="/user/orders" class="openButton py-3 btn btn-dark d-flex justify-content-center" style=" text-decoration: none; align-items: center;"><i class="fa-solid fa-truck-fast me-3" style="font-size: 30px;"></i>ORDERS</a>
                  </div>
                <div class="btn-group dropdown">
                <button type="button" class="openButton py-3 btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    BRANDS
                </button>
                <ul class="dropdown-menu bg-dark text-center p-4 " style="box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.918);">
                    <li class="text-center hover   pb-4 ps-3 pe-3"><a class="" style="text-decoration: none;" href="/user/brandBased/">All Brands</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=adidas">ADIDAS</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=reebok">REEBOK</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=jordan">JORDAN</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=asics">ASICS</a></li>
                    <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=crocs">CROCS</a></li>
                    <li class="text-center hover  ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=converse">CONVERSE</a></li>
                </ul>
              </div>
              <div style="display:flex; justify-content: center;">
                <a class="Btn logOutButton"  >
                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    <div class="textS">Logout</div>
                  </a>
            </div>
                  </div>
                </div>
              </div>
            </div>
                  <form action="/user/searchProduct" method="get" class="searchForm" enctype="application/form-data">
                     <div class="d-flex align-items-center">
                        <% if (locals?.search) { %>
                            <% var value = search?search:''; %>
                            <div class="input-group">
                                <input type="text" class="form-control searchInputField" name="search" placeholder="Search product's..." style="min-width: 100px;" id="searchInput">
                                <button type="reset" class="btn" id="clearSearch" onclick="clearSearchInput()" style="background: #212529;">
                                    <i class="bi bi-x-lg clearSearchButtonHeader"></i>
                                </button>
                            </div>
                                    <% } else { %>
                            <div class="input-group">
                              <input type="text" class="form-control searchInputField" name="search" placeholder="Search product's..." style="min-width: 100px;" id="searchInput">
                              <button type="reset" class="btn" id="clearSearch" onclick="clearSearchInput()" style="background: #212529;">
                                  <i class="bi bi-x-lg clearSearchButtonHeader"></i>
                              </button>
                            </div>
                        <% } %>
                        <button class="btn btn-dark text-center rounded" type="submit" style="width: 50px; margin-left: 5px;"><i class="fa-solid fa-magnifying-glass text-light  "></i></button>
                    </div>
                </form>
               </div>
            </div>
         </nav>
        </div>
    </div>
</div>
<div class="mt-2 chatDiv" title="Help Center" style="display:flex; justify-content: center; position: fixed; bottom: 10px; right: 10px; z-index: 1000000 !important;">
  <a  class="chatButton"  style="font-family: 'Michroma', sans-serif;">
    <span class="" style="height: 100%; width: 100%; display: grid; place-items: center; margin: 0px; padding: 3px 0px 0px 0px;"><i class="bi bi-chat-right-dots fs-4" id="biChat"></i></span>
  </a>
</div>
<script>
  const currentSearchValue='<%=value%>';
</script>
<script src="../../public/jsFiles/searchVal.js"></script>
<script src="../../public/jsFiles/header.js"></script>
<%- include('./footerHTML')-%>