<%- include('./headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/header.css">
</head>
<body>

<div class="header ">
    <div class="header2">
        <div class="topHeader">
            <div class="left"><i class="bi bi-box-arrow-left ms-5"></i></div>
            <div class="center">
                RARE KICKS
            </div>
            <div class="right">
                <i class="bi bi-heart me-2"></i>
                <i class="bi bi-bag me-2"></i>
                <i class="bi bi-person-lines-fill me-5"></i>
            </div>
        </div>
        <div class="bottomHeader">
            <span class="categories ms-5">HOME</span>
            <span class="categories">ALL PRODUCTS</span>
            <span class="categories">ADDIDAS</span>
            <span class="categories">PUMA</span>
            <span class="categories me-5"><input type="text" placeholder="search.."></span>
        </div>
    </div>
</div>






<%- include('./footerHTML')-%>